html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-adapter-button-trigger {
  background: linear-gradient(
    112deg,
    var(--nextui-colors-cyan500) -63.59%,
    var(--nextui-colors-pink500) -20.3%,
    var(--nextui-colors-blue500) 70.46%
  );
  font-family: 'Space Mono' !important;
}
